.view {
    display: flex;
    flex-direction: row-reverse;
}

.header-profile {
    font-size: 14px;
    padding: 0 16px;
}

.header-logo {
    height: 32px;
    margin-right: 0.5em;
}

.flex-spacer {
    flex-grow: 1;
}

.toolbar-divider {
    padding: 0 16px;
}

.drawer {
    max-width: 30vw;
    max-height: calc(100vh - 64px);
    overflow: auto;
    flex-shrink: 0;
}

.sidenav-container {
    position: fixed;
    left: 0;
    right: 0;
}

.stepper {
    max-width: 100%;
}

mat-progress-spinner {
    display: inline-block;
    vertical-align: middle;
}

.preset-button {
    position: fixed;
    bottom: 2em;
    left: 6em;
    background: #00539b;
    z-index: 10000;
}

.toggle-button {
    position: fixed;
    bottom: 2em;
    left: 2em;
    background: #00539b;
    z-index: 10000;
}

.sql-form-field {
    display: block;
    width: 100%;
    max-width: 600px;
}

.sql-lint {
    font-size: 0.8em;
    color: crimson;
}

.sql-caption {
    color: #888;
    font-size: 0.8em;
}

.sql-location {
    margin-top: 1em;
    display: block;
}

.num-results-text {
    font-size: 0.8em;
}

.result-table {
    overflow-x: auto;
}

.result-table-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.styles-prop-list .rule-badge {
    font-size: 0.6em;
    font-weight: 500;
    display: inline-block;
    padding: 0.5em;
    color: #ffffff;
    border-radius: 2px;
}

.styles-prop-list mat-panel-title {
    width: 150px;
    flex-grow: 0;
}

.styles-prop-list .rule-badge.computed { background: #00539b; }
.styles-prop-list .rule-badge.global { background: #F4B400; }
.styles-prop-list .rule-badge.none { background: #e5e3df; color: #000000; }

.mat-toolbar.mat-primary,
.mat-raised-button.mat-primary,
.mat-step-header .mat-step-icon {
    color: #FFFFFF;
}

.mat-raised-button[disabled] {
    background: #e5e3df;
}
