/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
}

color-picker .color-picker {
    border: none;
    box-shadow: 1px 0px 4px 2px rgba(0,0,0,0.15);
    border-radius: 2px;
}
